{% extends "Club/plantilla.html" %}
{% block content %}



        {% if query == none or query == "" %}
             <h3>No se ha encontrado ningún resultado que contenga "<b><u>{{ query }}</u></b>".</h3>



        {% elif buscar1.count > 0 or buscar2.count > 0 or buscar3.count > 0 %}
            {% for carrera in buscar2 %}

                <div class="col-lg-12 col-xs-12 pull-left">

                    <div class="polaroid col-lg-12" style="margin-bottom:20px; padding: 0;">
                        <div class="col-lg-3 col-md-12 img-responsive"
                             style="margin: 0px; padding: 0; background-color: rgba(240,240,240,0.3)">
                            <div style="background-image: url({{ carrera.foto }});background-repeat: no-repeat; background-size: cover; background-position: center; height: 17em; width: auto; min-width: 13em;"></div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-lg-offset-1"
                             style="padding:5px 70px 0px 20px; text-align: justify;">
                            <a href="carrera/{{ carrera.id }}">
                                <h3 style="text-align: left;">{{ carrera.titulo|upper }}       {% if carrera.ciudad != '' %}
                                    <span style="font-size:large">({{ carrera.ciudad|title }}) </span>
                                    {% endif %}</h3>
                            </a>
                            {% autoescape off %}
                                {{ carrera.texto|truncatewords:60|striptags }}
                                {% if carrera.texto|length > 250 %}
                                    <a href="carrera/{{ carrera.id }}" class="glyphicon glyphicon-triangle-right"></a>
                                {% endif %}
                            {% endautoescape %}
                            <hr style="margin: 5px; padding: 5px">
                            {% if carrera.fecha != null %}
                                <p style="text-align: right; font-size: 0.75em; color: rgba(119, 119, 119, 0.94);">
                                    {{ carrera.fecha }}</p>
                            {% endif %}
                        </div>


                    </div>
                </div>
            {% endfor %}
            {% for post in buscar1 %}

                <div class="col-lg-12 col-xs-12 pull-left">

                    <div class="polaroid col-lg-12" style="margin-bottom:20px; padding: 0;">
                        <div class="col-lg-3 col-md-12 img-responsive"
                             style="margin: 0px; padding: 0; background-color: rgba(240,240,240,0.3)">
                            <div style="background-image: url({{ post.foto }});background-repeat: no-repeat; background-size: cover; background-position: center; height: 17em; width: auto; min-width: 13em;"></div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-lg-offset-1"
                         style="padding:0 1.5em; text-align: justify;">
                            <a href="ficha/{{ post.id }}">
                                <h3 style="text-align: left;">{{ post.titulo|upper }}</h3>
                            </a>
                            {% autoescape off %}
                                {{ post.texto|truncatewords:60|striptags }}
                                {% if post.texto|length > 250 %}
                                    <a href="ficha/{{ post.id }}" class="glyphicon glyphicon-triangle-right"></a>
                                {% endif %}
                            {% endautoescape %}
                            <hr style="margin: 5px; padding: 5px">
                            {% if post.fecha_publicacion != null %}
                                <p style="text-align: right; font-size: 0.75em; color: rgba(119, 119, 119, 0.94);">
                                    {{ post.fecha }}</p>
                            {% endif %}
                        </div>


                    </div>
                </div>
            {% endfor %}



        {% else %}
            <h3>No se ha encontrado ningún resultado que contenga "<b><u>{{ query }}</u></b>".</h3>
        {% endif %}





    <div class="row">

        <div style="margin-top: 0px">

            {% if posts.count > 10 %}
                <div class="page-header pager" style="margin-top: 80px">
                    <ul style="margin-top: 0px">
                        <li>
                            {% if paginator.has_prev %}
                                <a href="/?page={{ paginator.firstPage }}"> Inicio </a>
                                <a href="/?page={{ paginator.prev_page }}"> Anterior </a>
                            {% else %}
                                <a style="color:gray; cursor:not-allowed;"> Inicio </a>
                                <a style="color:gray; cursor:not-allowed; "> Anterior </a>
                            {% endif %}
                            {% if paginator.has_next %}
                                <a href="/?page={{ paginator.next_page }}"> Siguiente </a>
                                <a href="/?page={{ paginator.pages }}"> Ultima </a>
                            {% else %}
                                <a style="color:gray; cursor: no-drop;"> Siguiente </a>
                                <a style="color:gray; cursor: no-drop;"> Ultima </a>
                            {% endif %}
                        </li>
                        <p style="margin-top: 20px; color: white; font-size: 1.2em;">Página {{ paginator.page }}
                            de {{ paginator.pages }} </p>
                    </ul>
                </div>

            {% else %}

            {% endif %}


        </div>
    </div>

{% endblock %}
