{% extends "Club/plantilla.html" %}
{% block content %}

    <div class="col-lg-12 col-md-12 col-xs-12 polaroid">

        {% for carrera in carrera %}

            {% if carrera.foto.name != 'nofoto.jpg' %}
                <div class="col-lg-4 col-md-4"><a href="../{{ carrera.foto }}">
                    <div style="background-image: url('../{{ carrera.foto }}');background-repeat: no-repeat; background-size: cover; background-position: center; height: 28em; width: auto; min-width: 12em; margin: 40px auto;"></div>
                </a>
                </div>
            {% else %}
                <div class="col-lg-4 col-md-4 col-xs-12"></div>
            {% endif %}
            <h2 style="text-align: center">{{ carrera.titulo }}
                {% if carrera.ciudad != '' %}
                <span style="font-size: x-large">
                    ({{ carrera.ciudad|title }})
                {% endif %}</span>
            </h2>
            <div class="col-lg-4 col-xs-12" style="text-align: left; padding: 20px; z-index: 10;">
                <p><b>FECHA: </b>{{ carrera.fecha.date }} </p>

                <p><b>HORA DE SALIDA:</b> {{ carrera.fecha|date:' H:i' }}</p>
                <p><b>CIUDAD:</b> {{ carrera.ciudad }}</p>
                {% if carrera.precio|floatformat > '0' %}
                    <p><b>PRECIO:</b> {{ carrera.precio }} EUR.</p>
                {% else %}
                    <p><b>PRECIO:</b> GRATIS.</p>
                {% endif %}
                <p><b>REFERENCIA:</b> <a href="{{ carrera.link }}" target="_blank"> Aquí</a></p>

                <p><b>PARTICIPANTES:</b> <a href="../listaparticipantes#{{ carrera.id }}">Aquí</a></p>


            </div>
            <div class="col-lg-4 col-xs-12" style="text-align: left; padding: 20px; z-index: 10" >
                {% if carrera.resultado != '' %}
                    <b>CLASIFICACIÓN:</b><a href="../{{ carrera.resultado }}"> Descargar <span
                        class="glyphicon glyphicon-circle-arrow-down"> </span> </a>
                {% endif %}
                    {% if carrera.galeria_fotos_1 != '' %}
                        <p></p><b>GALERIA DE FOTOS:</b></p> <p><a href="{{ carrera.galeria_fotos_1 }}" target="_blank" style="text-align: right"> Galeria 1 <span class="glyphicon glyphicon-camera"></span></a></p>
                    {% endif %}
                    {% if carrera.galeria_fotos_2 != '' %}
                        <p><a href="{{ carrera.galeria_fotos_2 }}" target="_blank" style="text-align: right">Galeria 2 <span class="glyphicon glyphicon-camera"></span></a></p>
                    {% endif %}
                    {% if carrera.galeria_fotos_3 != '' %}
                        <a href="{{ carrera.galeria_fotos_3 }}" target="_blank" style="text-align: right">Galeria 3 <span class="glyphicon glyphicon-camera"></span></a>
                    {% endif %}



            </div>

            {% autoescape off %}
                <div class="col-lg-8"
                     style="z-index: 1; text-align: justify;  margin-top: 0px">&nbsp{{ carrera.texto }} </div>
            {% endautoescape %}
            {% if carrera.fecha.date <= d.date and hoy.date <= carrera.fecha.date %}
                {% if carrera.link == '' %}
                <a href="{{ carrera.link }}" style="color: white"> <div class="col-lg-12 btn-warning" type="button" target="_blank"
                        style="text-align: center;margin: 0;padding: 0; font-size: large;">FALTAN MENOS DE 5 DÍAS PARA LA CARRERA EL PLAZO DE
                        INSCRIPCIÓN PUDO HABER TERMINADO</div></a>

                {% else %}
                  <a href="{{ carrera.link }}" style="color: white"> <div class="col-lg-12 btn-warning" type="button" target="_blank"
                        style="text-align: center; font-size: large;">FALTAN MENOS DE 5 DÍAS PARA LA CARRERA EL PLAZO DE
                        INSCRIPCIÓN PUDO HABER TERMINADO</div></a>
                {% endif %}

            {% endif %}
            {% if hoy.date > carrera.fecha.date %}
                <p class="col-lg-12 btn-danger" type="button" target="_blank"
                   style="text-align: center; font-size: large; cursor: default"> LA CARRERA SE CELEBRO DEL
                    DIA: {{ carrera.fecha }}</p>
            {% endif %}
            </div>

        {% endfor %}


</div>

{% endblock %}
