{% extends "Club\plantilla.html" %}
{% block content %}
    <div class="col-lg-12"
         style="background-color: rgba(255, 255, 255, 0.80); border-radius: 15px; margin-bottom: 80px;">

    {% for post in posts %}
        <h1 style="text-align: center">{{ post.titulo }}</h1>
        {% if post.foto.name != 'nofoto.jpg' %}
            <div class="col-lg-3"><a href="../{{ post.foto }}"><img src="../{{ post.foto }}" style="width: 200px;"></a>
            </div>
        {% else %}

        {% endif %}
        <div class="col-lg-3 " style="min-height: 200px">


        </div>

        {% autoescape off %}

            <div class="col-lg-9"> </divc>{{ post.texto|linebreaks }}
        {% endautoescape %}

        <div class="row" style="text-align: right; margin-top: 20px; color: #3c3c3c; opacity: 0.8; ">{{ post.fecha_publicacion }}</div>

    </div>

    {% endfor %}
{% endblock %}

