{% extends "Club/plantilla.html" %}
{% block content %}

    <div class="col-lg-12 polaroid">

        {% for post in posts %}

            {% if post.foto.name != 'nofoto.jpg' %}
                <div class="col-lg-4"><a href="../{{ post.foto }}">
                    <div style="background-image: url(../{{ post.foto }});background-repeat: no-repeat; background-size: cover; background-position: center; height: 21em; width: auto; min-width: 15.5em; margin: 70px auto;"></div>
                </a>
                </div>
                {% autoescape off %}
                    <h1 style="text-align: center">{{ post.titulo }}</h1>
                    <div class="col-lg-8" style="z-index: 10;">{{ post.texto }} </div>
                {% endautoescape %}

                <div class="row"></div>
                <p style="text-align: right; color: #3c3c3c; opacity: 0.8; margin-right: 20px">{{ post.fecha_publicacion }}</p>
            {% else %}

                {% autoescape off %}
                    <h1 style="text-align: center">{{ post.titulo }}</h1>
                    <div class="col-lg-12" style="z-index: 10;">{{ post.texto }} </div>
                {% endautoescape %}

                <div class="row"></div>
                <p style="text-align: right; color: #3c3c3c; opacity: 0.8; margin-right: 20px">{{ post.fecha_publicacion }}</p>
            {% endif %}

        {% endfor %}
    </div>


{% endblock %}

