{% extends "Club/plantilla.html" %}
{% block content %}

            <div class="polaroid col-lg-12 col-xs-12 pull-left" style="margin-bottom:20px; padding: 20px 0;">
                {% if album.count > 0 %}
                    <h2 STYLE=" text-align: center">ALBUMES DE FOTOS:</h2>
                    <hr>
                    {% for a in album %}
                        <div style="margin: 0 auto">
                        {% if album.count <= 2 %}
                            <div class="col-lg-6 col-md-6 col-xs-6" ;
                                 style="margin: 0 auto ;margin-bottom: 10px; text-align: center; height: auto; font-size: 1.6em">
                        {% elif album.count == 3 %}
                            <div class="col-lg-4 col-md-4 col-xs-6" ;
                                 style="margin: 0 auto ;margin-bottom: 10px; text-align: center; height: auto; font-size: 1.6em">
                        {% elif album.count >= 4 %}
                            <div class="col-lg-3 col-md-4 col-xs-6" ;
                                 style="margin: 0 auto ;margin-bottom: 10px; text-align: center; height: auto; font-size: 1.6em">
                        {% endif %}
                        <a href="{{ a.direccion }}" target="_blank" style="text-decoration: none; ">
                            {% if a.foto == "nofoto.jpg" %}
                                <div class="img-circle"
                                     style="height: 120px; width: 120px; text-align: center;font-size:300%;  background-color: {{ color|random }}; color:white; padding-top: 15px; margin: auto">{{ a.nombre|slice:"1" }}</div>
                            {% else %}

                                <div><img src="{{ a.foto }}" class="img-circle"
                                          style="height: 120px; width: 120px; padding-top: 0px; margin: auto"></div>
                            {% endif %}
                            {{ a.nombre }}</a>
                        </div>

                        </div>


                    {% endfor %}
                {% else %}
                    <h2>NO HAY NINGUN ALBUM DE FOTO</h2>
                {% endif %}

    </div>



{% endblock %}
