{% extends "Club/plantilla.html" %}
{% block content %}
    <div class="container-fluid">

        <div class="col-lg-4 col-xs-12 col-xs-offset-0 pull-right" id="menu2" style="padding-bottom: 20px">

            <div class="col-lg-12 col-xs-12 polaroid" style="background-color: white; padding:0 0 0px 0">
                <h4 style="text-align: center; background-color: #c7ddef; margin:0; padding: 10px; cursor: default">
                    PRÓXIMOS
                    EVENTOS</h4>

                <div class="col-lg-12" style="padding-top:6px ">
                    <ul class=" list-group">
                        {% for carrera in carreras %}

                            {% if carrera.fecha.date >= hoy.date %}

                                <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                                    <a href="carrera/{{ carrera.id }}">{{ carrera|upper }}</a>
                                </li>

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="col-lg-12 col-xs-12 polaroid"
                 style="background-color: white; margin:  20px 0; padding: 0 0 0px 0">
                <h4 style="text-align: center; background-color: #c7ddef; margin:0; padding: 10px;">ULTIMOS
                    RESULTADOS</h4>

                <div class="col-lg-12" style="padding-top:6px;">
                    <ul class=" list-group">
                        {% for r in carreras %}
                            {% if r.resultado != '' and r.fecha.date <= hoy.date %}
                                <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                                    <a href="{{ r.resultado }}">{{ r.fecha.day }}/{{ r.fecha.month }}/{{ r.fecha.year }}
                                        - {{ r.titulo|upper }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 polaroid"
                 style="background-color: white; margin:0; padding: 0 0 0px 0">
                <h4 style="text-align: center; background-color: #c7ddef; margin:0; padding: 10px; cursor: default">ZONA
                    SOCIOS</h4>

                <div class="col-lg-12" style="padding-top:6px;">
                    <ul class=" list-group">
                        <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                            <a href="inscripcion">INSCRIPCIÓN A EVENTO</a>
                        </li>
                        <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                            <a href="listaparticipantes">LISTA DE PARTICIPANTES</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="col-lg-8 col-xs-12 pull-left">
            <div class="polaroid col-lg-12 col-xs-12" style="margin-bottom:20px; padding: 20px 0;">
                {% if album.count > 0 %}
                    <h2 STYLE=" text-align: center">ALBUMES DE FOTOS:</h2>
                    <hr>
                    {% for a in album %}
                        <div style="margin: 0 auto">
                        {% if album.count <= 2 %}
                            <div class="col-lg-6" ;
                                 style="margin: 0 auto ;margin-bottom: 10px; text-align: center; height: auto; font-size: 1.6em">
                        {% elif album.count == 3 %}
                            <div class="col-lg-4" ;
                                 style="margin: 0 auto ;margin-bottom: 10px; text-align: center; height: auto; font-size: 1.6em">
                        {% elif album.count >= 4 %}
                            <div class="col-lg-3" ;
                                 style="margin: 0 auto ;margin-bottom: 10px; text-align: center; height: auto; font-size: 1.6em">
                        {% endif %}
                        <a href="{{ a.direccion }}" target="_blank" style="text-decoration: none; ">
                            {% if a.foto == "nofoto.jpg" %}
                                <div class="img-circle"
                                     style="height: 120px; width: 120px; text-align: center;font-size:300%;  background-color: {{ color|random }}; color:white; padding-top: 15px; margin: auto">{{ a.nombre|slice:"1" }}</div>
                            {% else %}

                                <div><img src="{{ a.foto }}" class="img-circle"
                                          style="height: 120px; width: 120px; padding-top: 0px; margin: auto"></div>
                            {% endif %}
                            {{ a.nombre }}</a>
                        </div>

                        </div>


                    {% endfor %}
                {% else %}
                    <h2>NO HAY NINGUN ALBUM DE FOTO</h2>
                {% endif %}

    </div>
    </div>
    </div>



{% endblock %}
