{% extends 'Club/plantilla.html' %}
{% load staticfiles %}
<script>
    setTimeout(window.location('plantilla.html').load(), 2000)
</script>



{% block content %}




        <div class="polaroid col-lg-12 col-xs-12 pull-left" style="margin-bottom:20px; padding: 40px; font-size: 1.3em">
            <h3 style="text-align: center">LISTA DE PARTICIPANTES POR EVENTOS</h3>
            <h5 style="text-align: center">Actualizado el {{ actualizado|truncatewords:1 }} </h5>
            {% for p in participantes %}

                <div style="text-align: justify; margin: 40px 20px;">
                    <h3 style="color: #000afd"><a href="carrera/{{ p.carrera.id }}" id="{{ p.carrera_id }}"> {{ p.carrera }} - <span style="font-size: medium">{{ p.carrera.fecha.date }}</span></a></h3>
                    {% autoescape off %}
                        <div style="text-align: justify;">{{ p.lista }}</div>
                    {% endautoescape %}
                </div>
                <hr>
            {% endfor %}
        </div>






{% endblock %}