{% extends 'Club/plantilla.html' %}
{% load staticfiles %}
<script>
    setTimeout(window.location('plantilla.html').load(), 2000)
</script>



{% block content %}
    <div class="container-fluid">


            <div class="col-lg-4 col-xs-12 col-xs-offset-0 pull-right" id="menu2" style="padding-bottom: 20px">

            <div class="col-lg-12 col-xs-12 polaroid" style="background-color: white; padding:0 0 0px 0">
                <h4 style="text-align: center; background-color: #c7ddef; margin:0; padding: 10px; cursor: default">
                    PRÓXIMOS
                    EVENTOS</h4>

                <div class="col-lg-12" style="padding-top:6px ">
                    <ul class=" list-group">
                        {% for carrera in carreras %}

                            {% if carrera.fecha.date >= hoy.date %}

                                <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                                    <a href="carrera/{{ carrera.id }}">{{ carrera|upper }}</a>
                                </li>

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="col-lg-12 col-xs-12 polaroid"
                 style="background-color: white; margin:  20px 0; padding: 0 0 0px 0">
                <h4 style="text-align: center; background-color: #c7ddef; margin:0; padding: 10px;">ULTIMOS
                    RESULTADOS</h4>

                <div class="col-lg-12" style="padding-top:6px;">
                    <ul class=" list-group">
                        {% for r in carreras %}
                            {% if r.resultado != '' and r.fecha.date <= hoy.date %}
                                <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                                    <a href="{{ r.resultado }}">{{ r.fecha.day }}/{{ r.fecha.month }}/{{ r.fecha.year }}
                                        - {{ r.titulo|upper }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-12 col-xs-12 polaroid"
                 style="background-color: white; margin:0; padding: 0 0 0px 0">
                <h4 style="text-align: center; background-color: #c7ddef; margin:0; padding: 10px; cursor: default">ZONA
                    SOCIOS</h4>

                <div class="col-lg-12" style="padding-top:6px;">
                    <ul class=" list-group">
                        <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                            <a href="inscripcion">INSCRIPCIÓN A EVENTO</a>
                        </li>
                        <li class="list-unstyled" style="vertical-align: middle; padding: 4px 0 0">
                            <a href="listaparticipantes">LISTA DE PARTICIPANTES</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>





    <div class="col-lg-8 col-xs-12 pull-left">


        <div class="polaroid col-lg-12 col-xs-12" style="margin-bottom:20px; padding: 40px; font-size: 1.3em">
            <h3 style="text-align: center">LISTA DE PARTICIPANTES POR EVENTOS</h3>
            <h5 style="text-align: center">Actualizado el {{ actualizado|truncatewords:1 }} </h5>
            {% for p in participantes %}

                <div style="text-align: justify; margin: 40px 20px;">
                    <h3 style="color: #000afd"><a href="carrera/{{ p.carrera.id }}" id="{{ p.carrera_id }}"> {{ p.carrera }} - <span style="font-size: medium">{{ p.carrera.fecha.date }}</span></a></h3>
                    {% autoescape off %}
                        <div style="text-align: justify;">{{ p.lista }}</div>
                    {% endautoescape %}
                </div>
                <hr>
            {% endfor %}
        </div>


    </div>


    </div>

{% endblock %}