{% extends 'Club/plantilla.html' %}

{% load staticfiles %}
<script>
    setTimeout(window.location('plantilla.html').load(), 2000)
</script>

{% block content %}
    {% for post in posts %}
        <div class="col-lg-12 col-md-12 col-xs-12 col-lg-push-0 polaroid"
             style=" padding: 0; margin: 0px 0 20px 0; background-color: white;">

            {% if post.foto != 'nofoto.jpg' %}
            <div class="col-lg-3 col-md-3 img-responsive"
                 style="margin: 0px; padding: 0; background-color: rgba(240,240,240,0.3)">
                <div style="background-image: url({{ post.foto }});background-repeat: no-repeat; background-size: cover; background-position: top; max-height: 21em; min-height:19em;  width: auto; min-width: 10em;"></div>
            </div>
            <div class="col-lg-9 col-md-7 col-lg-offset-0 col-md-offset-1"
                 style="padding: 1.8em; text-align: justify;">
                <a href="ficha/{{ post.id }}">
                    <h3 style="text-align: left;">{{ post.titulo|upper }}</h3>
                </a>
                {% autoescape off %}
                    {{ post.texto|truncatewords:60|striptags }}
                    {% if post.texto|length > 250 %}
                        <a href="ficha/{{ post.id }}" class="glyphicon glyphicon-triangle-right"></a>
                    {% endif %}
                {% endautoescape %}

                <hr style="margin: 5px; padding: 5px;">
                {% if post.fecha_publicacion != null %}
                    <p style="text-align: right; font-size: 0.75em; color: rgba(119, 119, 119, 0.94);">
                        {{ post.fecha_publicacion }}</p>
                {% endif %}

            </div>
            {% else %}
                <div class="col-lg-12 col-md-12 col-lg-offset-0 "
                     style="padding: 1.8em; text-align: justify;">
                    <a href="ficha/{{ post.id }}">
                        <h3 style="text-align: left;">{{ post.titulo|upper }}</h3>
                    </a>
                    {% autoescape off %}
                        {{ post.texto|truncatewords:60|striptags }}
                        {% if post.texto|length > 250 %}
                            <a href="ficha/{{ post.id }}" class="glyphicon glyphicon-triangle-right"></a>
                        {% endif %}
                    {% endautoescape %}

                    <hr style="margin: 5px; padding: 5px;">
                    {% if post.fecha_publicacion != null %}
                        <p style="text-align: right; font-size: 0.75em; color: rgba(119, 119, 119, 0.94);">
                            {{ post.fecha_publicacion }}</p>
                    {% endif %}
                </div>
            {% endif %}


        </div>
    {% endfor %}




    <div class="row">
    </div>

    <div style="margin-top: 0px">

        {% if posts.count > 10 %}
            <div class="page-header pager" style="margin-top: 80px">
                <ul style="margin-top: 0px">
                    <li>
                        {% if paginator.has_prev %}
                            <a href="/?page={{ paginator.firstPage }}"> Inicio </a>
                            <a href="/?page={{ paginator.prev_page }}"> Anterior </a>
                        {% else %}
                            <a style="color:gray; cursor:not-allowed;"> Inicio </a>
                            <a style="color:gray; cursor:not-allowed; "> Anterior </a>
                        {% endif %}
                        {% if paginator.has_next %}
                            <a href="/?page={{ paginator.next_page }}"> Siguiente </a>
                            <a href="/?page={{ paginator.pages }}"> Ultima </a>
                        {% else %}
                            <a style="color:gray; cursor: no-drop;"> Siguiente </a>
                            <a style="color:gray; cursor: no-drop;"> Ultima </a>
                        {% endif %}
                    </li>
                    <p style="margin-top: 20px; color: white; font-size: 1.2em;">Página {{ paginator.page }}
                        de {{ paginator.pages }} </p>
                </ul>
            </div>

        {% else %}

        {% endif %}

    </div>



{% endblock %}


